img {
    height: auto;
    width: 400px;
}

h1{
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}

.recipe1{
    background-color: lightsalmon;
}
.recipe2{
    background-color: lightyellow;
}
.recipe3{
    background-color: lightpink;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home{
    text-align: center;
    font-size: 30px;
}
button{
    background-color: royalblue;
    text-align: center;
}